/* 占位文本 */
[contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: #999;
    white-space: pre-wrap;
}

[contenteditable][data-placeholder] {
    width: 100%;
    min-height: 100px;
    word-wrap: break-word;
    border: 1px solid #ccc;
    padding: 5px;
}

/* head或者各个section的一行罗列信息 */
.line-input-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.line-input-container * {
    flex: 1
}

/* 导入导出按钮 */
/* 同时也使用原模板的联系按钮样式 */
.config-button {
    float: right;
    position: relative;
    top: -15px;
    margin-right: 10px;
}